@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}

h2 {
    text-align: center;
}

.styleNumBox {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 25rem;
    width: 35rem;
    min-height: 3.5rem;
    align-items: center;
}

.num {
    border: 5px solid black;
    width: 5.5rem;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: bolder;
}

/* notifiche input */
.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.repetido {
    border: 2px solid orange;
    background-color: #fff5cc;
}

/* display */
.displayNone {
    display: none;
}