@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}

body {
    display: flex;
    justify-content: center
}

.mainContainer {
    background-color: #009688;
    padding: 2rem 2rem;
    width: 50rem;
    min-height: 30rem;
    margin-top: 10rem;
    border-radius: 5px;
}

.mainTitleBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
}

.styleNumBox {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 25rem;
    width: 35rem;
    min-height: 3.5rem;
    align-items: center;
}

img {
    max-width: 20rem;
    max-height: 15rem;
}

.num {
    border: 5px solid black;
    width: 6.5rem;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: bolder;
    /* debug */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reportBox {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkButton {
    padding: 10px;
    border-radius: 5px;
}

/* notifiche input */
.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.styleErrorMessage {
    color: red;
    display: none
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 1.5rem;
}

.styleinvalidCaracter {
    color: orange;
    display: none
}

.double {
    border: 2px solid orange;
    background-color: #fff5cc;
}

/* display */
.displayNone {
    display: none;
}